*{
  
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;  box-sizing: border-box;
    justify-content: center;
}

.container{
    background-color: #2b3252;
    width: 500px;
    height: 500px;
}